<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <title>Home</title>
</head>
<body>
<!-- Search City By Name -->
<div class="w3-container w3-teal">
</div>
    <form  class="w3-container" method="post" action="/result">
        <label class="w3-text-black"><b>City Name</b></label>
        <input class="w3-input w3-animate-input w3-round" style="width:30%" type="text" id="Name" name="Name" required placeholder="here">
        <button class="w3-btn w3-black" type="submit">Search</button>        
     <label id="City_Name"></label>
    </form>

    <script src="./static/javascript/script.js"></script>
   
</body>
</html>